services:
  api:
    ports:
      - "5031:80"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
      - AzureDevOps__Organization=YOUR_ORGANIZATION_HERE
      - AzureDevOps__PAT=YOUR_PERSONAL_ACCESS_TOKEN_HERE
    volumes:
      - ./api/AzDevOpsApi:/app
    
  client:
    ports:
      - "3000:80"
    environment:
      - REACT_APP_API_URL=http://localhost:5031
      - REACT_APP_API_IS_MOCKED=false
      - REACT_APP_JIRA_HOST=localhost:9999
