{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "AzureDevOps": {
    "Organization": "YOUR_ORGANIZATION_HERE",
    "PAT": "YOUR_PERSONAL_ACCESS_TOKEN_HERE"
  }
}
